.header_content {
    margin: 90px 60px 153px;
    color: white;
    position: relative;
}

.header_content h1 {
    color: #BCBCBC;
    text-align: center;
    font-family: "Vela Sans";
    font-size: 22px;
    font-weight: 600;
}

.header_content .header_title {
    color: #fff;
    text-align: center;
    font-family: "Vela Sans";
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
}

.header_content .header_title span {
    color: #3F68FB;
}

.header_content .header_subtitle {
    margin-top: 24px;
    color: #BCBCBC;
    text-align: center;
    font-family: "Vela Sans";
    font-size: 24px;
    font-weight: 400;
}

.header_content .header_buttons {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.header_content .button_more {
    padding: 14px 30px;
    border-radius: 50px;
    font-size: 16px;
    background: #3F68FB;
    border: black;
    font-weight: 400;
    font-family: "Vela Sans";
}

.advantages {
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 600;
}

.header_content .red_text {
    background: rgba(234, 78, 87, 0.10);
    border-color: #EA4E57;
}

.header_content .green_text {
    background: rgba(54, 198, 111, 0.10);
    border-color: #36C66F;
}

.header_content .orange_text {
    background: rgba(234, 108, 54, 0.10);
    border-color: #EA6C36;
}

.header_content img{
    position: relative;
    right: 30px;
    top: 9px;
}

.arrow {
    position: absolute;
}

.advantages_orange {
    bottom: 126px;
    left: 70px;
}

.advantages_red {
    bottom: 167px;
    right: 28px;
}

.advantages_green {
    bottom: -53px;
    right: 192px;
}